
/* background image  */
body {
    background-image: url("../images/beatle.jpg");
    font-family: 'Ultra', serif !important;
    
}
.container {
    background-color: red;
    border-radius: 75%;
   
}

.row {
    text-align: center;
    
}

.col-12 {
    margin: 25px;
}

button {
    
    border-radius: 25%;
    height: 170px;
    width: 250px;
background-image: url("/Users/John/Desktop/TriviaGame/assets/images/button.jpg");
font-family: 'Ultra', serif !important;
font-size: 36px!important;

color: black;

}

.submit {
    background-color: gold;
    border-radius: 25%;
    height: 70px;
    width: 250px;

}
.encore {
    background-color: gold;
    border-radius: 25%;
    height: 70px;
    width: 250px;

}

h1 {
    font-size: 56px!important;
    font-family: 'Ultra', serif !important;
    text-align: center;
}


#over{
    text-align: center;
    font-family: 'Ultra', serif !important;
}

.results {
    font-family: 'Ultra', serif !important;
}